<div class="form-floating container-lg ">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label for="floatingTextarea">Title</label>
</div>

<div class="form-floating container-lg">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Write your post here!</label>

  <div class="p-2 bd-highlight">
      <button <type="submit" class="btn btn-primary" id="post-submit-button"> Submit!</button>

</div>

<script src="/public/javascript/add-post.js"></script>