<section>
<form class="create-post-form">
<div class="form-floating container-lg ">
  <label for="floatingTextarea">Title</label>
  <input type="text" class="form-control" placeholder="Title" id="post-title floatingTextarea" name="post-title" />
</div>

<div class="form-floating container-lg">
  <label for="floatingTextarea2">Write your post here!</label>
  <input type="text" class="form-control" placeholder="Leave a comment here" id="post-content floatingTextarea2" style="height: 100px" name="post-content" />

  <div class="p-2 bd-highlight">
      <button type="submit" class="btn btn-primary" id="post-submit-button"> Submit!</button>

</div>
</form>
</section>
<script src="/javascript/add-post.js"></script>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>

</section>
