<h1>Here's What's Happening!</h1>
<div class="container-fluid bg-light">
    <div class="container-lg">
        <ol>
            {{#each posts as |post|}}
            <li class="container-lg container-fluid bg-light">
                {{> post-info post}}
            </li>
        </ol>
    </div>
</div>
{{/each}}
