<h1>Welcome Home!</h1>
<<<<<<< HEAD
<div class="container-fluid bg-secondary">
    <div class="container-lg">
        <ol>
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
            </li>
        </ol>
    </div>
</div>
{{/each}}
=======
<ol class="post-list">
    {{#each posts as |post|}}
  <li>
   {{> post-info post }}
  </li>
   {{/each}}
</ol>
>>>>>>> f716cfea19f7dfd572f556b8a2182df1a4157363
